body {
    font-family: Arial, Helvetica, sans-serif;
}
form {
    border: 3px solid #f1f1f1;
}
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container {
    padding: 16px;
}
.login_form {
    width: 350px;
    margin: 0 auto;
    padding: 25px;
}
.button {
    font-size: 25px;
    color: black;
    background-color: rgb(85, 121, 19);
    height: 57px;
    width: 76px;
}
h2,
h1 {
    text-align: center;
    margin-top: 35px;
}
label,
h2,
h1 {
    color: darkcyan;
}
#error1 {
    text-align: centre;
    color: red;
}