
/* for welcome2.php */

h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;

}

  /* for add.php and edit.php */
  .required:after {
    content: " *";
    color: red;
  }

  
  /* For headinng tag */
  
 
 